{{#signers}}
    <div class="signer">
        {{#if homepage}}
            <p><a target="_blank" href="http://{{homepage}}">{{firstname}}
                    {{lastname}}</a>
                {{age}}</p>
        {{else}}
            <p>{{firstname}}
                {{lastname}}
                {{age}}</p>
        {{/if}}
        <p>{{getPrettyDate signed_at}}</p>
    </div>
{{/signers}}