{{#signatures}}
    <div class="signer">
        {{!-- <a href="/{{city}}">{{city}}</a> --}}
        <p>{{firstname}} {{lastname}} </p>
        <p>{{getPrettyDate created_at}}</p>
    </div>
{{/signatures}}